<!-- フッター -->
<footer class="cols footer">
<div class="cols-inner">
<div class="col">

	<form action="#" class="search" method="get">
	<input id="q" name="q" type="search" value=""><button type="submit"><i class="fa fa-search"></i><span>検索</span></button>
	</form>


</div>
<div class="col">

	<div class="snsmenu">
	<ul>
		<li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
		<li><a href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
		<li><a href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a></li>
		<li><a href="#"><i class="fa fa-rss"></i><span>RSS</span></a></li>
	</ul>
	</div>

	<div class="copyright">
	<p>Copyright &copy; CLIP</p>
	</div>


</div>
</div>
</footer>