<%= render 'header' %>

<div class="id-main-box">
  <div class="id-inline">
    <div class="we-index">
    <div class="id-ti">放映中アニメ</div>
    <div class="id-pd">
      <% doc = Nokogiri.HTML(open("http://tvanimedouga.blog93.fc2.com/")) %>
      <% doc.css('#menu1Block > div:nth-child(4) > div.menu1BlockBody > div > div > ul > li > a').each do |element| %>
      
        <% ani = element.inner_html %>
        
        <% @content = Content.find_by(title: ani) %>

          <% if !@content.blank? %>
          <% if ani == @content.title %>
            <%= link_to "#{ani}",  @content %><br>
          <% end %>
          <% end %>
        
      <% end %>
    </div>

    </div>
  </div>

  <div class="id-inline">
    <div class="timeline">
      <div class="id-ti">タイムライン</div>
      <div class="id-pd">
        <% doc = Nokogiri.HTML(open("http://tvanimedouga.blog93.fc2.com/")) %>
        <% doc.css('div > div > div > div > div > div > div > a').first(25).each do |element| %>
        
         <% if !element[:title].nil? %>
          <% ani = element[:title] %>
         <% end %>
         
          <% @work = Work.find_by(sub_title: ani) %>
          
          <% if !@work.blank? %>
          <% if ani == @work.title %>
            <%= link_to "#{ani}",  @work %><br>
          <% end %>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </div>
  <div class="id-inline">
    <div class="ranking">
    <div class="id-ti">ランキング</div>

    </div>
  </div>
</div>








<%= render 'footer' %>


