<%= render 'header' %>

<div class="id-main-box">
  <div class="id-inline">
    <div class="we-index">
    <div class="id-ti">放映中アニメ</div>
    <div class="id-pd"><%= render 'week_sidebar' %></div>

    </div>
  </div>

  <div class="id-inline">
    <div class="timeline">
      <div class="id-ti">タイムライン</div>
      <div class="id-pd">sssssssssss</div>
    </div>
  </div>
  <div class="id-inline"><div class="ranking">ランキング</div></div>
</div>


<%= render 'footer' %>


