<%= render 'header' %>

<div class="id-main-box">
  <div class="id-inline"><div class="ranking">d</div></div>
  <div class="id-inline"><div class="timeline">d</div></div>
</div>


<%= render 'footer' %>


