<%= render 'pages/header' %>

<div class="sh-content">
    llll
    <div class="sh-if">
        <iframe class="sh-if-self" width="560" height="315" src="https://www.youtube.com/embed/cbvs8cnrTOE" frameborder="0" allowfullscreen></iframe>
        <div class="sh-des">
            <div class="sh-ani-tt">タイトル</div>
            <div class="sh-ani-co">sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</div>
        </div>
    </div>
    
    
    <div class="sh-index">
        <button type="button" class="btn btn-info btn-xs"><a href="http://himado.in/366719" target="_blank" style="text-decoration: none;">【ひまわり】</a></button>
        <button type="button" class="btn btn-info btn-xs"><a href="http://www.miomio.tv/watch/cc304038/" target="_blank" style="text-decoration: none;">【MioMio】</a></button>
        <button type="button" class="btn btn-info btn-xs"><a href="http://www.miomio.tv/watch/cc304038/" target="_blank" style="text-decoration: none;">【MioMio】</a></button>
        <button type="button" class="btn btn-info btn-xs"><a href="http://www.miomio.tv/watch/cc304038/" target="_blank" style="text-decoration: none;">【MioMio】</a></button>
        <button type="button" class="btn btn-info btn-xs"><a href="http://www.miomio.tv/watch/cc304038/" target="_blank" style="text-decoration: none;">【MioMio】</a></button>
        <button type="button" class="btn btn-info btn-xs"><a href="http://www.miomio.tv/watch/cc304038/" target="_blank" style="text-decoration: none;">【MioMio】</a></button>
        <button type="button" class="btn btn-info btn-xs"><a href="http://www.miomio.tv/watch/cc304038/" target="_blank" style="text-decoration: none;">【MioMio】</a></button>
        <button type="button" class="btn btn-info btn-xs"><a href="http://www.miomio.tv/watch/cc304038/" target="_blank" style="text-decoration: none;">【MioMio】</a></button>
    </div>
    <div class="sh-comments">
        dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
    </div>
</div>
<%= render 'pages/footer' %>


