@import "bootstrap-sprockets";
@import "bootstrap";
// Place all the styles related to the Animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//show

.sh-content {
 width: 1000px;
 background-color: white;
 margin: auto;
 min-height: 1500px;
 height: auto !important;
 height: 50px;
 border:1px solid rgb(238, 238, 238);
 box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
 -webkit-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
 -moz-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
}
.sh-if {
  width: 560px;
  background-color: white;
  position: absolute;
  top: 500px;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 10px;
  height: auto !important;
  height: 50px;
  text-align: center;
  word-break: break-word;
  padding: 10px;
  border:1px solid rgb(238, 238, 238);
  box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -moz-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
}

.sh-if-self {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin: auto;
  border:1px solid rgb(238, 238, 238);
  box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -moz-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
}

.sh-des {
  width: 560px;
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  top: 320px;
  margin: auto;  
  background-color: white;
}

.sh-tt {
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
}

.sh-st {
    background-color: #eee;
    margin: 2em 0;
    padding: 2em;
    text-align: left;
}

.sh-ct {
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
}

.sh-cm {
    background-color: #eee;
    margin: 2em 0;
    padding: 2em;
    text-align: left;
}
.sh-ani-tt {
 text-align: center;
 width: 560px;
 word-break: break-word;
 padding: 5px;
}

.sh-ani-co {
 text-align: center;
 width: 560px;
 word-break: break-word;
 padding: 5px;
}



.sh-index {
  width: 560px;
  background-color: yellow;
  position: absolute;
  left: 0;
  right: 0;
  top: 600px;
  margin: auto;
  min-height: 100px;
  height: auto !important;
  height: 50px;
}

.sh-comments {
  width: 560px;
  background-color: blue;
  position: absolute;
  left: 0;
  right: 0;
  top: 720px;
  margin: auto;
  height: 500px;
  overflow: auto;
  word-break: break-word;
}

.op {
 padding: 10px 10px 10px 10px;
}
