@import "bootstrap-sprockets";
@import "bootstrap";

/* Internet Exploer*/

@-ms-viewport {width: devise-width;}



/* 左右の余白 */
.cols-inner	{max-width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;}

/* 上下の余白 */
.header	{padding-top: 15px;
	padding-bottom: 12px;}

.topmsg	{padding-top: 20px;
	padding-bottom: 20px;}

.gaiyou	{padding-top: 60px;
	padding-bottom: 10px;}

.footer	{padding-top: 30px;
    margin-top: 50px;
	padding-bottom: 30px;}

/* 背景色 */
.topmsg	{background-color: #0f5851;}

.footer	{background-color: #ddd;}


/* 段組み */
@media (min-width: 768px) {

	/* ヘッダー2段組 */
	.header .col	{float: left;}
	.header .col + .col	{float: right;}

	/* フッター2段組み */
	.footer .col	{float: right;}
	.footer .col + .col	{float: left;}

	/* 概要4段組み */
	.gaiyou .col	{float: left;
		width: 23.05%;
		margin-left: 2.6%;}

}

@media (min-width: 500px) and (max-width: 767px) {

	/* 概要2段組み */
	.gaiyou .col	{float: left;
		width: 48%;
		margin-left: 4%;}

	.gaiyou .col:first-child + .col + .col	{clear: both;
		margin-left: 0;}

}

.cols .col:first-child	{margin-left: 0;}

.cols:after	{content: "";
	display: block;
	clear: both}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* サイト名 */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.logo h1	{margin: 0;
	line-height: 1;}

.logo h1 a	{color: #000;
	text-decoration: none;}

.logo span	{width: 100px;
	height: 43px;
	background-image: url(img/logo.png);
	background-size: 100% 100%;
	background-position: 0% 0%;
	display: inline-block;
	text-indent: -9999px;}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ナビゲーションメニュー */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.menu ul	{margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.4;
	list-style: none;}

.menu li a	{display: block;
	padding: 10px 15px;
	color: #000;
	text-decoration: none;}

.menu li a:hover	{background-color: #eee;}


@media (max-width: 767px) {
	.menu	{display: none}

	.menubtn	{padding: 6px 12px;
		border: solid 1px #aaaaaa;
		border-radius: 5px;
		background-color: #ffffff;
		position: absolute;
		top: 20px;
		right: 15px;
		cursor: pointer}

	.menubtn:hover	{background-color: #ddd}

	.menubtn:focus	{outline: none}

	.menubtn i	{color: #888888;
		font-size: 18px}

	.menubtn span	{display: inline-block;
		text-indent: -9999px}
}


@media (min-width: 768px) {
	.menu	{display: block !important;}

	.menu li	{float: left;}

	.menu ul:after	{content: "";
		display: block;
		clear: both;}

	.menubtn	{display: none}

}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ヘッダー画像 */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.photo	{width: 100%;
	height: 270px;
	background-image: url(img/header.jpg);
	background-size: cover;
	background-position: 80% 20%;}

@media (max-width: 500px) {
	.photo	{height: 256px;
		background-image: url(img/header-s.jpg);
		background-position: 80% 40%;}
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* SNSメニュー */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.snsmenu	{margin-bottom: 18px;}

.snsmenu ul	{margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.4;
	list-style: none;}

.snsmenu li a	{display: block;
	width: 45px;
	margin-right: 20px;
	padding: 8px 0 5px;
	border-radius: 6px;
	background-color: #aaa;
	color: #000;
	text-align: center;
	text-decoration: none;}

.snsmenu li a span	{display: inline-block;
	text-indent: -9999px}

.snsmenu li a i	{color: #fff;
	font-size: 30px;}

.snsmenu li a:hover	{background-color: #888;}

.snsmenu li	{float: left;}

.snsmenu ul:after,
.snsmenu ol:after	{content: "";
	display: block;
	clear: both;}




/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* コピーライト */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.copyright p	{margin: 0;
	color: #666;
	font-size: 14px;}
