// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

//index

.id-header {
 text-align: center;
 height: 50px;
 padding: 10px;
  background-color: #eee;
  border:1px solid rgb(238, 238, 238);
  box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -webkit-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -moz-box-shadow:rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
}

.id-main-box {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 100px;
  height: auto !important;
  height: 50px;
}
.id-inline {
 display: inline-block;
}

.ranking {
 padding: 10px;
 width: 250px;
 height: 600px;
 box-shadow: 0 2px 3px 0 #ddd;
 min-height: 100px;
 height: auto !important;
 height: 50px;
 font-size: 11px;
}

.timeline {
 padding: 10px;
 width: 300px;
 height: 600px;
 box-shadow: 0 2px 3px 0 #ddd;
 min-height: 100px;
 height: auto !important;
 height: 50px;
}

.we-index {
 padding: 10px;
 width: 200px;
 box-shadow: 0 2px 3px 0 #ddd;
 min-height: 100px;
 height: auto !important;
 height: 50px;
}


.id-ti {
 width: 100%;
 text-align: center;
 height: 50px;
}

.id-tl-co {
 width: 100%;
 text-align: center;
 height: 50px;
 overflow: auto;
}

.id-pd {
 padding: 5px;
 font-size: 12px;
}

.id-we-border {
 border-bottom: 1px solid gray;
 padding: 5px 5px 5px 5px;
}

.id-we-day {
 padding: 5px 5px 5px 5px;
}

.sub-her {
 height: 100px;
 width: 750px;
 text-align: center;
 display: -webkit-flex;
 display: flex;
 -webkit-justify-content: center;
 justify-content: center;
 margin: 0 auto;
 margin-bottom: 30px;
 margin-top: 30px;
 line-height: 100px;
 font-size: 30px;
 box-shadow: 0 2px 3px 0 #ddd;
 }
 .sub-her a { 
  color: #0a0d04;
  text-decoration: none;
 }


.sub-her-dis {
 font-size: 10px;
}